.action-btn {
  background-color: var(--secondary-color);
  color: var(--light-color);
}

.mat-mdc-dialog-actions {
  justify-content: space-between;
  padding: 1rem;
}

.mat-mdc-raised-button[disabled],
.mat-mdc-raised-button.mat-mdc-button-disabled {
  opacity: 0.7;
}

form {
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    width: 500px;
  }
}
