@if (companies().length > 0) {
  <button
    mat-raised-button
    class="create-btn create-list-btn"
    (click)="create()"
  >
    Adicionar Empresa
  </button>
}
<div class="list">
  @for (company of companies(); track $index) {
    <app-company-item
      [company]="company"
      (edit)="edit(company)"
    ></app-company-item>
  } @empty {
    <div class="no-result">
      <mat-icon class="title-icon">sentiment_dissatisfied</mat-icon>
      <div class="no-result-title">Nenhuma empresa cadastrada</div>
      <div class="no-result-description">Aproveite para criar uma</div>
      <button mat-raised-button class="create-btn" (click)="create()">
        Adicionar Empresa
      </button>
    </div>
  }
</div>
