nav {
  display: none;
}

@media (min-width: 768px) {
  .menu-mobile {
    display: none;
  }

  nav {
    display: flex;
    gap: 0.7rem;
    align-items: center;

    .mdc-button {
      font-size: 0.7rem;
      text-transform: uppercase;
      color: var(--grey-color);

      &.menu--activated {
        color: var(--primary-color);
      }
    }
  }
}

.menu--activated {
  color: var(--primary-color);
}
